@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: Poppins;
  font-weight: normal;
  src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
  font-display: swap;
  font-family: Poppins;
  font-weight: bold;
  src: url('./fonts/Poppins-SemiBold.ttf');
}

@layer base {
  html {
    background-color: #101010;
    font-family: Poppins, system-ui, sans-serif;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 100%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
